<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue App</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./imageMapResizer.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- Content goes here -->

      <!-- ////////////////////////////////////////////////////////////////////////////////////// -->
      <!-- page 1  page 1  page 1  page 1  page 1  page 1  page 1  page 1  page 1  page 1  page 1 -->

      <div class="page" v-if="page == 1">
        <div class="wrapper">
          <div class="home">
            <img src="Screenshot 2023-07-17 104156.png" alt="logo" @click="goToPage(1)">
          </div>
          <div class="cart">

            <!-- <div v-for="crime in filteredExpenses" class="row-body" v-if="search.length > 0 && filteredExpenses.length > 0">
                        <div>{{crime.crime_name}}</div>
                        <div >{{exp.amount}}</div>
                        <div>{{exp.category}}</div>
                    </div> -->
            <div v-for="(crime, index) in cart" class="row-body">
              <div>{{crime.crime_name}}</div>
            </div>
            <div class="row-footer">
              <div>TOTAL</div>
              <div v-bind:class="[{green: balance > 0 }, {red: balance <= 0 }]">
                {{balance}}
              </div>
              <div></div>
              <div></div>
            </div>
          </div>

          <div class="setting">
            <img
              src="codeschool-crime-project.png"
              alt="crimeScene"
              usemap="#workmap"
            />
            <map name="workmap" @click="goToPage(2)">
              <area shape="rect" coords="385,360,580,490" alt="Enter" />
            </map>
          </div>
        </div>
      </div>


      <!-- ////////////////////////////////////////////////////////////////////////////////////// -->
      <!-- page 2  page 2  page 2  page 2  page 2  page 2  page 2  page 2  page 2  page 2  page 2 -->


      <div class="page" v-if="page == 2">
        <div class="wrapper">
          <div class="home">
            <img src="Screenshot 2023-07-17 104156.png" alt="logo" @click="goToPage(1)">
          </div>
          <div class="cart">

            <!-- <div v-for="crime in filteredExpenses" class="row-body" v-if="search.length > 0 && filteredExpenses.length > 0">
                        <div>{{crime.crime_name}}</div>
                        <div >{{exp.amount}}</div>
                        <div>{{exp.category}}</div>
                    </div> -->
            <div v-for="(crime, index) in cart" class="row-body">
              <div>{{crime.crime_name}}</div>
            </div>
            <div class="row-footer">
              <div>TOTAL</div>
              <div v-bind:class="[{green: balance > 0 }, {red: balance <= 0 }]">
                {{balance}}
              </div>
              <div></div>
              <div></div>
            </div>
          </div>

          <div class="setting">
            <img src="Crime-Aisle.png" alt="crimeAisle" usemap="#workmap" />
            <map name="workmap">
              <area
                shape="rect"
                coords="15,200,160,720"
                @click="goToPage(3); buildShelf(theft) "
                alt="Theft"
              />
              <area
                shape="rect"
                coords="220,200,365,720"
                @click="goToPage(4); buildShelf(assault) "
                alt="Assault"
              />
              <area
                shape="rect"
                coords="435,200,580,720"
                @click="goToPage(5); buildShelf(traffic) "
                alt="Traffic"
              />
              <area
                shape="rect"
                coords="640,200,782,720"
                @click="goToPage(6); buildShelf(drugs) "
                alt="Drugs"
              />
              <area
                shape="rect"
                coords="840,200,984,720"
                @click="goToPage(7); buildShelf(clearance) "
                alt="Clearance"
              />
            </map>
          </div>
        </div>
      </div>

      <!-- ////////////////////////////////////////////////////////////////////////////////////// -->
      <!-- page 3  page 3  page 3  page 3  page 3  page 3  page 3  page 3  page 3  page 3  page 3 -->

      <div class="page" v-if="page == 3">
        <div class="wrapper">
          <div class="home">
            <img src="Screenshot 2023-07-17 104156.png" alt="logo" @click="goToPage(1)">
          </div>
          <div class="cart">
            
            <div v-for="item in cart.cart" class="row-body">
              <div>{{item.crime_name}}</div>
            </div>
            <div class="row-footer">
              <div>TOTAL</div>
              <div v-bind:class="[{green: balance > 0 }, {red: balance <= 0 }]">
                {{balance}}
              </div>
            </div>
          </div>

          <div class="setting1">
            <div class="shelves">
              <div v-for="sherf in shelf" class="shelf">
                <div v-for="item in sherf">
                  <img v-bind:src="item.image" alt="crimeScene" @click="goToPage(2)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page" v-if="page == 4">
        <div class="wrapper">
          <div class="home">
            <img src="Screenshot 2023-07-17 104156.png" alt="logo" @click="goToPage(1)">
          </div>
          <div class="cart">

            <!-- <div v-for="crime in filteredExpenses" class="row-body" v-if="search.length > 0 && filteredExpenses.length > 0">
                        <div>{{crime.crime_name}}</div>
                        <div >{{exp.amount}}</div>
                        <div>{{exp.category}}</div>
                    </div> -->
            <div v-for="(crime, index) in cart" class="row-body">
              <div>{{crime.crime_name}}</div>
            </div>
            <div class="row-footer">
              <div>TOTAL</div>
              <div v-bind:class="[{green: balance > 0 }, {red: balance <= 0 }]">
                {{balance}}
              </div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="setting1">
            <div class="shelves">
              <div v-for="sherf in shelf" class="shelf">
                <div v-for="item in sherf">
                  <img v-bind:src="item.image" alt="crimeScene" @click="goToPage(2)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page" v-if="page == 5">
        <div class="wrapper">
          <div class="home">
            <img src="Screenshot 2023-07-17 104156.png" alt="logo" @click="goToPage(1)">
          </div>
          <div class="cart">

            <!-- <div v-for="crime in filteredExpenses" class="row-body" v-if="search.length > 0 && filteredExpenses.length > 0">
                        <div>{{crime.crime_name}}</div>
                        <div >{{exp.amount}}</div>
                        <div>{{exp.category}}</div>
                    </div> -->
            <div v-for="(crime, index) in cart" class="row-body">
              <div>{{crime.crime_name}}</div>
            </div>
            <div class="row-footer">
              <div>TOTAL</div>
              <div v-bind:class="[{green: balance > 0 }, {red: balance <= 0 }]">
                {{balance}}
              </div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="setting1">
            <div class="shelves">
              <div v-for="sherf in shelf" class="shelf">
                <div v-for="item in sherf">
                  <img v-bind:src="item.image" alt="crimeScene" @click="goToPage(2)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page" v-if="page == 6">
        <div class="wrapper">
          <div class="home">
            <img src="Screenshot 2023-07-17 104156.png" alt="logo" @click="goToPage(1)">
          </div>
          <div class="cart">

            <!-- <div v-for="crime in filteredExpenses" class="row-body" v-if="search.length > 0 && filteredExpenses.length > 0">
                        <div>{{crime.crime_name}}</div>
                        <div >{{exp.amount}}</div>
                        <div>{{exp.category}}</div>
                    </div> -->
            <div v-for="(crime, index) in cart" class="row-body">
              <div>{{crime.crime_name}}</div>
            </div>
            <div class="row-footer">
              <div>TOTAL</div>
              <div v-bind:class="[{green: balance > 0 }, {red: balance <= 0 }]">
                {{balance}}
              </div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="setting1">
            <div class="shelves">
              <div v-for="sherf in shelf" class="shelf">
                <div v-for="item in sherf">
                  <img v-bind:src="item.image" alt="crimeScene" @click="goToPage(2)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page" v-if="page == 7">
        <div class="wrapper">
          <div class="home">
            <img src="Screenshot 2023-07-17 104156.png" alt="logo" @click="goToPage(1)">
          </div>
          <div class="cart">


            <!-- <div v-for="crime in filteredExpenses" class="row-body" v-if="search.length > 0 && filteredExpenses.length > 0">
                        <div>{{crime.crime_name}}</div>
                        <div >{{exp.amount}}</div>
                        <div>{{exp.category}}</div>
                    </div> -->
            <div v-for="(crime, index) in cart" class="row-body">
              <div>{{crime.crime_name}}</div>
              <!-- <button @click="deleteCrime(index)">X</button> -->
            </div>
            <div class="row-footer">
              <div>TOTAL</div>
              <div v-bind:class="[{green: balance > 0 }, {red: balance <= 0 }]">
                {{balance}}
              </div>
              <div></div>
              <div></div>
            </div>
          </div>

          <div class="setting1">
            <div class="shelves">
              <div v-for="sherf in shelf" class="shelf">
                <div v-for="item in sherf">
                  <img v-bind:src="item.image" alt="crimeScene" @click="goToPage(2)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page" v-if="page == 8">
        <div class="wrapper">
          <div class="home">
            <img src="Screenshot 2023-07-17 104156.png" alt="logo" @click="goToPage(1)">
          </div>
          <div class="cart">

            <!-- <div v-for="crime in filteredExpenses" class="row-body" v-if="search.length > 0 && filteredExpenses.length > 0">
                        <div>{{crime.crime_name}}</div>
                        <div >{{exp.amount}}</div>
                        <div>{{exp.category}}</div>
                    </div> -->
            <div v-for="(crime, index) in cart" class="row-body">
              <div>{{crime.crime_name}}</div>
            </div>
            <div class="row-footer">
              <div>TOTAL</div>
              <div v-bind:class="[{green: balance > 0 }, {red: balance <= 0 }]">
                {{balance}}
              </div>
              <div></div>
              <div></div>
            </div>
          </div>

          <div class="setting">
            <img
              src="crime-checkout.png"
              alt="crimeScene"
              usemap="#workmap"
            />
            <map name="workmap" @click="goToPage(2)">
              <area shape="rect" coords="385,360,580,490" alt="Enter" />
            </map>
          </div>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
    <script src="imageMapResizer.js"></script>
  </body>
</html>